
*{
  padding: 0;
  margin: 0;
}
/* .pageContainer{
  background-color: #f0eded;
  height: 100vh;
} */
/* .appContainer{
  max-width: 1400px;
  margin: 0 auto;
  background: red;
  padding: 0 10px;
} */